/* ChopChop Landing Page - Main Stylesheet */

/* Import CSS custom properties and base styles */
@import url('variables.css');
@import url('base.css');

/* Import component styles */
@import url('components/parallax.css');
@import url('components/header.css');
@import url('components/hero.css');
@import url('components/mockups-carousel.css');
@import url('components/how-it-works.css');
@import url('components/currency-slider.css');
@import url('components/occasion-cards.css');
@import url('components/join-us.css');
@import url('components/footer.css');
@import url('components/language-switcher.css');
@import url('components/theme-switcher.css');
